/*
 * @Author: Lee.mark 
 * @Date: 2018-05-15 17:08:22 
 * @Last Modified by:   Lee.mark 
 * @Last Modified time: 2018-05-15 17:08:22 
 */

.login-wrap {
  background-color: #324152;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-from {
  background-color: #fff;
  width: 400px;
  padding: 30px;
  border-radius: 5px;
}

.login-from .login-btn {
  width: 100%;
}
